.place__link {
    display: block;
    color: #FFFFFF; 
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;

}

.page__link-hover:hover {
    opacity: 0.8;

}